/* INDEX.HTML */
.stationButton {
    vertical-align: middle;
    display: block;
    margin: 20px;
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #E0FFFF;

    
}

.requestButton {
	vertical-align: middle;
    display: block;
    margin: 20px;
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;
    background: #E0FFFF;
}

/*html {
    display: table;
    margin: auto;
    vertical-align: middle;
}*/

/* MAIN.HTML */
#stationText {
    vertical-align: middle;
    display: block;
    margin: 10px;
    font-family: Tahoma;

}
