.button {
    vertical-align: middle;
    display: block;
    margin: 20px;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height:100px;
    font-family: Tahoma;
    background: #E0FFFF;
    font-size: x-large;
}

#mainPageButton {
    width: 120px;
    height:60px;
    font-size: medium;
}

.infoText {
    font-size: xx-large;
    font-family: Tahoma;
    color: black;
}

.titleText {
    font-size: 50px;
    font-family: Tahoma;
    color: black;
}

#mainPage, #movingPage, #finishPage, #pleaseMovePage, #missionAbortPage {
    display: none;
}